#masthead .header {
  font-size: 4em;
}

ins {
  background-color: #dbffdb;
}

del {
  background-color: #ffdddd;
}

footer {
  width: 90%;
  min-height: 5px;
  max-width: 1500px;
  padding: 45px 45px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  color: gray;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

footer a{
  color: darkslategrey;
}